.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #353945;
  position: relative;
}
.form-input {
  border: 1px solid #777e91;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  position: relative;
  width: 100%;
  flex: 1 1 100%;

  &:focus {
    border: 1px solid #393d46;
    box-shadow: 1px 1px 3px #000;
  }
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.form-textarea {
  min-height: 142px;
  border: 1px solid #777e91;
  border-radius: 12px;
  padding: 10px 20px;
  width: 100%;
  height: 115px;
  background-color: transparent;
  resize: none;
  min-height: 114px;
}
.form-textarea:focus {
  box-shadow: 1px 1px 3px #000;
}
.form-button {
  padding: 10px 20px;
  display: flex;
  align-self: start;
}
@media (max-width: 575px) {
  .form-button {
    width: 100%;
  }
}
button:disabled {
  background-color: #777e90;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-address {
  position: relative;
}
.form-address__icon {
  position: absolute;
  top: 70%;
  transform: translateY(-45%);
  right: 28px;
}

.form-header {
  display: flex;
  justify-content: space-between;
}
